<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotation</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>鸡蛋</string>
				<key>url</key>
				<string>/jidanjiage</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玉米</string>
				<key>url</key>
				<string>/yumijiage</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆粕</string>
				<key>url</key>
				<string>/doupojiage</string>
			</dict>
			<dict>
				<key>title</key>
				<string>淘汰鸡</string>
				<key>url</key>
				<string>/danjijiage</string>
			</dict>
			<dict>
				<key>title</key>
				<string>行情预测</string>
				<key>url</key>
				<string>/hangqingfenxi</string>
			</dict>
		</array>
	</dict>
	<key>Culture</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>饲养环境</string>
				<key>url</key>
				<string>/siyanghuanjing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>蛋鸡饲养</string>
				<key>url</key>
				<string>/danjisiyang</string>
			</dict>
			<dict>
				<key>title</key>
				<string>营养搭配</string>
				<key>url</key>
				<string>/yingyangdapei</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡苗专题</string>
				<key>url</key>
				<string>/list/zixun/58</string>
			</dict>
			<dict>
				<key>title</key>
				<string>饲料专题</string>
				<key>url</key>
				<string>/list/zixun/55/</string>
			</dict>
		</array>
	</dict>
	<key>Disease</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>病毒病</string>
				<key>url</key>
				<string>/bingdubing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>细菌病</string>
				<key>url</key>
				<string>/xijunbing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>呼吸道病</string>
				<key>url</key>
				<string>/huxidaobing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>消化道病</string>
				<key>url</key>
				<string>/list/zixun/60</string>
			</dict>
			<dict>
				<key>title</key>
				<string>寄生虫病</string>
				<key>url</key>
				<string>/jishengchongbing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>疫苗免疫</string>
				<key>url</key>
				<string>/jingxuan</string>
			</dict>
			<dict>
				<key>title</key>
				<string>代谢病</string>
				<key>url</key>
				<string>/daixiebing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>其他病种</string>
				<key>url</key>
				<string>/qitabingzhong</string>
			</dict>
		</array>
	</dict>
	<key>Medication</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>禽药应用</string>
				<key>url</key>
				<string>/list/zixun/65</string>
			</dict>
			<dict>
				<key>title</key>
				<string>动物禁忌</string>
				<key>url</key>
				<string>/list/zixun/66</string>
			</dict>
			<dict>
				<key>title</key>
				<string>禽慎用药</string>
				<key>url</key>
				<string>/list/zixun/67</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
